*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif ;

    }


p{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

img{
    width: 360px;
    height: 360px;
    margin: 16px;
    border: 5px solid darksalmon;
    opacity: 0.4;
}

img:hover {
    opacity: 1.0;
}

h1 {
    margin-top: 160px;
    font-size: 62px;
    color: darkblue;
    text-align: center;
}

h2 {
    font-size: 28px;
    color:cadetblue;
    font-style: italic;
    text-align: center;
}   
a {
    display: grid;
    margin: 60px;
    text-align: center;
    font-size: 32px;
    color: brown;
    background-color: darksalmon;
}